[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
mlflow = "*"
boto3 = "*"
xgboost = "*"

[dev-packages]
requests = "*"
scikit-learn = "*"
fastapi = "*"
uvicorn = "*"

[requires]
python_version = "3.8"
