[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
scikit-learn = "*"
pandas = "*"
seaborn = "*"
hyperopt = "*"
xgboost = "*"
fastparquet = "*"

[dev-packages]

[requires]
python_version = "3.8"
